@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2);
}

.description {
  font-family: TwitterChirp, Helvetica, Arial, sans-serif;
  width: 300px;
  margin-bottom: 20px;
  font-size: 11px;
  color: rgb(113, 118, 123);
}

.description span {
  color: #1D9BF0;
}

.description span:hover {
  text-decoration: underline;
}