.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 6rem;
  min-height: 20vh;
}

.mainContainer {
  padding: 16px;
}

.leftContainer {
  display: flex;
  justify-content: start;
  max-width: 100%;
  padding: 20px;
}

.rightContainer {
  padding: 20px;
}

.footerContainer {
  background-color: black;
}

/* Enable hover only on non-touch devices */
/*
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}
*/

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}